* {
  padding: 0px;
  margin: 0px;
  font-family: "Bebas Neue", cursive;
  font-size: large;
}

a.btn{
  margin: 15px;
}

.center_content {
  margin: auto;
    
}

#app, nav{
  background-color: #3b3a3a;
  color: rgb(201, 197, 197);
}

.botonera{
  display: flex;
  justify-content: space-around;

}

i{
  margin: 2px;
}

.table{
  color: rgb(201, 197, 197);
}

tr{
  text-align:center;
  vertical-align: middle;
  border-color: rgb(214, 210, 210);
}


a:hover {
  cursor: pointer;
  transition: transform 0.5s;
  transform:  scale(1.1);
}
button:hover {
  cursor: pointer;
  transition: transform 0.5s;
  transform:  scale(1.1);
}

.logo1 {
  width: 90px;
  transition: transform 1.2s;
}
.rotar:hover{
  transform: rotate(360deg) scale(1.2);
}

h1{
  color: #f57f11;
  text-align: center;
}