

.reserva_main{
    background-color: #3b3a3a;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* margin: 5vh; */
    padding: 5vh;
    height: 523px;
  }

.reserva_h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.4vh;

}
  .reserva_p1{
  font-size: 3.5vh;
  color:#f57f11 ;
  }
  .reserva_p{
    font-size: 3.5vh;
    color: white;

  }

  .table{
    width: 65vh;
    height: 35vh;
    font-size: 3.4vh;
    color: rgb(233, 219, 138);
    border-radius: 5px;


  }