* {
  padding: 0px;
  margin: 0px;
  font-family: "Bebas Neue", cursive;
  font-size: large;
}

a.btn{
  margin: 15px;
}

.btn{
  width: 25;
  margin: 10px;

}
input, textarea{
  margin: 10px;
}
.center_content {
  display: block;
  margin: auto;
    
}
form{
  background-color: #3b3a3a;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;

}



div{
  width: 50%;
}
textarea{
  width: auto;  
}

nav{
  background-color: #3b3a3a;
  color: rgb(201, 197, 197);
}

#app, html, main, body{
  background-color: #3b3a3a;
  color: rgb(201, 197, 197);
}

.botonera{
  display: flex;
  justify-content: space-around;

}

.sub_forms{
  display: flex;

}

.sub_form_antes{
  margin: 30px;

}
.sub_form_despues{
  margin: 30px;

}
i{
  margin: 2px;
}

.table{
  color: rgb(201, 197, 197);
}

tr{
  text-align:center;
  vertical-align: middle;
  border-color: rgb(214, 210, 210);
}


a:hover {
  cursor: pointer;
  transition: transform 0.5s;
  transform:  scale(1.1);
}
button:hover {
  cursor: pointer;
  transition: transform 0.5s;
  transform:  scale(1.1);
}

.logo1 {
  width: 90px;
  transition: transform 1.2s;
}
.rotar:hover{
  transform: rotate(360deg) scale(1.2);
}

h1{
  color: #f57f11;
  text-align: center;
}