* {
  padding: 0px;
  margin: 0px;
  font-family:"Bebas Neue", cursive;
}

header {
  padding: 20px;
  width: 100%;
  background-color: #141313;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: row wrap;
}

.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: row wrap;
}

.logo1 {
  width: 110px;
}

nav ul {
  list-style: none;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  height: 100%;
  font-size: 35px;
}

nav li a {
  display: block;
  height: 100%;
  padding: 0 20px;
  color: #fcfcfc;
  text-decoration: none;
  line-height: 50px;
}

nav li a:hover {
  background-color: #312e2e;
  border-radius: 5%;
  opacity: 0.5;
}

.h1f {
  position: relative;
  margin-top: 5%;
  text-align: center;
  color: #fcfcfc;
  font-weight: 100;
}

#form {
    width: 400px;
    background-color: rgb(245, 243, 240);
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

input {
    padding: 2px;
    margin-bottom: 3px;
}

input {
  display : block;
  padding : 10px;
  margin  : 10px 0 0 -10px;
  width   : 100%;
  height  : 90%;
  border-right: 1px solid;
  overflow: auto;
}

.button {
  padding      : 5px;
  font         : bold .6em; 
  border       : 2px solid #333;
  border-radius: 5px;
  background   : none;
  cursor       : pointer;
  justify-content: center;
}

.button:after {
  content      : " >>>";
}

.button:hover,
button:focus {
  outline     : none;
  background  : #000;
  color       : #FFF;
}

.bodyr {
  background-color: #3b3a3a;
}


.container h1 {
  font-size: 80px;
  color: white;
  position:absolute;
  top: 47%;
  left: 52.5%;
  transform: translate(-50%, -50%);
  padding: 10px;
  letter-spacing: 0.1em;
  font-weight: 100;
}

.producto {
  width: 230px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
  margin: 25px;
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.textocard {
  padding: 10px;
  
}

#pizza {
  text-align: center;
  margin-bottom: 5px;
  color: #fcfcfc;
  letter-spacing: 1px;
  font-weight: 100;
}

.pprecio {
  font-weight: bold;
  margin-top: 5px;
}

.ptexto {
  color: rgb(148, 142, 142);
}

.producto a {
  color: rgb(202, 182, 139);
  font-size: 18px;
  text-decoration: none;
  background-color: rgb(133, 89, 60);
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  display: inline-block;
}
.contenedor2 {
  display:flex;
  flex-direction: row; 
  justify-content: center;
}

.fondocarta{
  background-color: #141313;
}

h1, p {
    font-size: 30px;
    color: white;
    position:absolute;
    z-index: 2;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

footer {
position: relative;
width: 100%;
height: 10rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-flow: row wrap;
background-color: rgb(7, 7, 7);
}

footer ul {
list-style: none;
margin: 10px;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
width: 100px;
}

.icon {
display: block;
padding: 0 10px;
color: #fcfcfc;
}