.main_contenedor {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}
  .body{
    background-color: #3b3a3a;
  }
  .imagen_pizza {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
  }
  #foto{
    height: 55vh;
    object-fit: cover;

  }
  
  .imagen_pizza img {
    width: 100%;
  }
  
  @font-face {
    font-family: 'DK';
    src: local('DK'),
      url('../fonts/DK\ Midnight\ Chalker.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
  }
  .dk{
    font-family: 'DK';
  }
  
  .p_index {
    font-family: 'DK';
    font-size: 40px;
    color: white;
    text-shadow: 0 0 5px rgb(7, 7, 7);
    position: absolute;
    z-index: 2;
    top: 51%;
    right: 18%;
 
  }
  
  .main .galeria{
	overflow: hidden;
}

.galeria .foto{
	width: 25%;
	float: left;
}

.galeria .foto img{
	width: 100%;
	vertical-align: top;
	opacity: .8;
  height: 500px;
}

.galeria .foto:hover img{
	opacity: 1;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
