  .contenedor2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #070707;
    width: 68vw;
    align-content: space-around;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 15px;

    
  }
  
.fondocarta {
    background-color: #3b3a3a;
    display: flex;
    justify-content: space-around;
  
  }
  .precio {
    background-color: #333;
    border-radius: 10px;
    font-size: 20px;
    color: #fdfcfc;
    text-align: center;
    margin: 7px;
    font-size: 1.3vw;
    
  }
  .ptexto {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 0.65vw;
    color: rgb(148, 142, 142);
    margin: 7px;
  }
  
.textocard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.centrar_nombre{
    text-align: center;
    font-size: 1.3vw;
  
  }
  .producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 11vw;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 4px 20px 0px #aaa;
    margin: 25px;

  } 

  @media only screen and (max-width: 600px)
  { 

  
    .producto {

    width: 100%;
    }
    .centrar_nombre{
    font-size: 6vw;
      }
    .ptexto{
    font-size: 3vw;
        }
    .precio{
    font-size: 5vw;
    background-color: rgb(211, 135, 100);
          } 
   }

  @media only screen and (min-width: 600px) and (max-width: 768px){

    .contenedor2 {
      width: 85vw;
    }
    .producto{
      width: 31vw;
      }
    .centrar_nombre{
    font-size: 4.5vw;
      }
    .ptexto{
    font-size: 2vw;
        }
    .precio{
    font-size: 4vw;
    background-color: rgb(136, 150, 75);
          }
         
  }

  @media only screen and (min-width: 768px){}
   