.main_contenedor {
    display: flex;
    flex-direction: column;
  }
  .imagen_pizza {
    display: flex;
    flex-direction: column;
    /* max-width: 100vw; */
  }
  
  .imagen_pizza img {
    width: 100%;
  }
  
  @font-face {
    font-family: 'DK';
    src: local('DK'),
      url('../fonts/DK\ Midnight\ Chalker.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
  }
  .dk{
    font-family: 'DK';
  }
  
  .p_index {
    font-family: 'DK';
    font-size: 35px;
    color: white;
    text-shadow: 0 0 5px rgb(7, 7, 7);
    position: absolute;
    z-index: 2;
    top: 65%;
    right: 0%;
    padding-right: 5%;
  }
  
  .main .galeria{
	overflow: hidden;
}

.galeria .foto{
	width: 25%;
	float: left;
}

.galeria .foto img{
	width: 100%;
	vertical-align: top;
	opacity: .8;
}

.galeria .foto:hover img{
	opacity: 1;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
