<!doctype html>
<html lang="es">
<head>
    <title>Listado de Pizzas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/estilocrud.css">

</head>
<body>
    <header id="header_crud">
        <!-- place navbar here -->
    </header>
    <main>
        <div id="app">
            <h1>Listado de pizzas</h1>
            <div class="botonera">
                <a  id="new_item" class="btn btn-success" href="create_pizza.html">
                    <i class="bi bi-plus-circle"></i>
                    Nuevo
                </a>
            </div>
           
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Ingredientes</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="pizza in pizzas">
                                    <td  scope="row">{{pizza.id}}</td>
                                    <td>{{pizza.nombre}}</td>
                                    <td>${{pizza.precio}}</td>
                                    <td>{{pizza.ingredientes}}</td>
                                    <td>
                                        <img width="60"  :src="'https://natuvide.pythonanywhere.com/imagenes_pizzas/'+pizza.imagen" :alt="pizza.nombre">
                                    </td>
                                    <td class="center_content ">
                                        <br>
                    			        <div class="align_acciones">
                                            <a class="btn btn-warning boton_editar" :href="'update_pizza.html?id='+ pizza.id" >
                                                <i class="bi bi-pencil"></i>
                                                Editar
                                                
                                            </a>
                                            <button type="button " class="btn btn-danger" v-on:click="eliminar(pizza.id)">
                                                <i class="bi bi-trash3"></i>
                                                Eliminar
                                                
                                            </button>
                                        </div>
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="./js/main_crud.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!--Link de VUE-->
    <script src="./js/pizzas.js"></script>
</body>
</html>