<!DOCTYPE html>
<html lang="en">
<head>
  <title>Modificar pizza</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./css/estiloformulariocrud.css">
</head>
<body>
  <header id="header_crud">
    <!-- place navbar here -->
  </header>
  <main>
    <div class="container" id="app">
      <h1>Editar pizza </h2>
      <form>
        <section class="sub_forms">
          <div class="sub_form_antes">
            <h5>Valores actuales</h5>
            <hr>
            <div >
              <label for="id_antes">Id:</label>
              <input type="number" name="id_antes" id="id_antes" class="no-outline" disabled v-model="id" >
            </div>
            <div >
              <label for="nombre_antes">Nombre:</label>
              <input type="text" name="nombre_antes" id="nombre_antes" class="no-outline" disabled v-model="nombre" >
            </div>
            <div >
              <label for="precio_antes">Precio:</label>
              <input type="number" name="precio_antes" id="precio_antes" class="no-outline" disabled v-model="precio" >
            </div>
            <div class="">
              <label for="ingredientes_antes">Ingredientes:</label>
              <textarea name="ingredientes_antes" id="ingredientes_antes" rows="5"
                        class="no-outline" disabled v-model="ingredientes">
              </textarea>

            </div>
            <div >
              <label for="imagen_antes">Imagen:</label>
              <input type="text" name="imagen_antes" id="imagen_antes" class="no-outline" disabled v-model="imagen" >
            </div>
            
          </div>
          
          <div class="sub_form_despues">
            <h5>Valores nuevos</h2>
              <hr>
              <div >
                <label for="id_despues">Id:</label>
                <input type="number" name="id_despues" id="id_despues" class="no-outline" disabled v-model="id" >
              </div>
              <div >
                <label for="nombre_despues">Nombre:</label>
                <input type="text" name="nombre_despues" id="nombre_despues" v-model="nombre">
              </div>
              <div >
                <label for="precio_despues">Precio:</label>
                <input type="number" name="precio_despues" id="precio_despues" v-model="precio">
              </div>
              <div class="">
                <label for="ingredientes_despues">Ingredientes:</label>
                <textarea name="ingredientes_despues" id="ingredientes_despues" rows="5"
                class="no-outline" v-model="ingredientes">
                </textarea>     
              </div>
              <div >
                <label for="imagen">Imagen:</label>
                <input type="text" name="imagen" id="imagen_despues" v-model="imagen">  
                <img width="100"   :src="imagen" alt="">
              </div>
          </div>
        </section>
      
      <button type="button" class="btn btn-success" v-on:click="modificar()">
        Modificar
        <i class="bi bi-check2-circle"></i>
      </button>
      </form>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"> </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"> </script>
  <script src="./js/main_crud.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/update_pizza.js"></script>
</body>
</html>
